div p {
	text-align:left;
}
h4.Titre{
	text-align:center;
}
div#bandeau {
	width:100%;
	height:100px;
	font-size: 0.9em;
	}
div#container {
	width:99%;
	margin: .5%;
	margin-top: 1%;
	}
table#tableau {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:100%;
    font-size: 0.9em;
    //table-layout: fixed;
    border-collapse: collapse;
  }
#titre{
	font-weight: bold;
	background-color: #fff;
	text-align:center;
	padding-bottom: 5px;
	//font-size: 0.9em;
}
.heading{
		font-weight: bold;
		background-color: #ddd;
		font-size: 0.9em;
}
th[data-sort]{
      cursor:pointer;
    }
.desc{
		text-align:left;
		font-size: 0.9em;
		width:40%;
		}
.texte{
		text-align:left;
		font-size: 0.9em;
		//width:20%;
}
.lien{
	font-size: 0.9em;
	text-decoration:none;
}
#footer {
   clear:both;
   margin:10px;
	width:100%;
	height:50px;
	border-top : 1px solid #000;
	text-align: rigth;
	}
#menu {
	width:100%;
	height:35px;
	//background-color:#FF6699;
	}
#menu ul {
 padding:0;
 margin:0;
 list-style-type:none;
 //overflow: hidden;
 background-color: #333;
 font-size: 0.87em;
 }
#menu li {
 margin-left:4px;
 float:left; /*pour IE*/
 }

#menu li.retour{
	margin-left:4px;
 	float:right; /*pour IE*/
}
#menu ul li a {
 display:inline-block;
 border-radius: 4px;
 float:left;
 width:195px;
 //background-color:#000000;
 background-color: #333;
 color:white;
 font-weight:bold;
 text-decoration:none;
 text-align:center;
 padding:8px;
 margin-bottom: 12px;
}
#menu ul li a:hover{
	background-color: #111;
}
#menu ul li a.active {
    background-color: #717171;
}
#menu ul li a.active:hover {
    background-color: #111;
}
.emphase {
    color: red;
}
tbody tr:nth-child(even){
		background-color: #f7f7f7;
		}
tbody tr.active {
	background-color: #DDD;
}
 td.infoBloc:hover{
     cursor:pointer;
 }
 td.infoBloc{
 	font-size: 0.9em;
 }
 div.dialogBloc {
     display:none;
 }
 .ui-dialog-content ul{
 		padding-left: 40px;
 		padding-top: 2px;
 	}
 .ui-dialog-titlebar{
      display:none;
 }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
   float: right;
}


